.arrowDown {
  /* border: solid rgba(0, 0, 0, 0.521);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); */
  width: 50%;
  transition: transform 1s;
  padding: 6%;
  margin: auto;
}

.arrowDown:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.homepageBkgrnd {
  background-image: url('images/916549.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#parting {
  padding: 30%;
}

#scndRow {
  background-color: rgba(255, 255, 255, 0.878);
  padding-top: 10%;
  padding-bottom: 3%;
  align-items: center;
  align-content: center;
}

#thrdRow {
  background-color: rgba(255, 255, 255, 0.878);
  padding-bottom: 10%;
}

#poem {
  background-color: rgba(255, 255, 255, 0.878);
  padding-bottom: 10%;
  padding-top: 10%;
  text-align: center;
}

#text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:x-large;
  font-weight: 500;
  font-stretch:extra-expanded;
  text-align: center;
}

#textL {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 200%;
  font-weight: bold;
  font-stretch:extra-expanded;
  text-align: center;
}

#parting2 {
  padding: 20%;
}

#homepageBtns {
  width: 300px;
  height: 150px;
  align-items: center;
  font-size:x-large;
  padding-top: 14%;
  font-weight: 800;
}

/*BIOGRAPHY */
#bioheader {
  background-image: url('images/biography.jpg');
  min-height: 500px;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position-x: center; */
}

/*POEMS*/
#poemsheader {
  background-image: src('../images/lotus.jpg');
  min-height: 500px;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;

}

#poem {
  text-align: center;
  font-family: cursive;
}
#poemtitle {
  padding-top: 10%;
  padding-bottom: 10%;
}

#book {
  background-image: url('images/openbook1.png');
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

#booktitle {
  text-align: center;
  font-weight: bolder;
}


/*EVENTS */

#events {
  text-align: center;
  font-weight: bolder;
  padding-top: 10%;
  padding-bottom: 10%;
}

#ecards {
  padding-bottom: 10%;
}

.maincards {
  box-shadow: 8px 8px #88888824;
}


/* MEDIA */

#videoheader {
  background-image: url('images/buddhaLight2.jpg');
  min-height: 500px;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-x: center; */
}

#headertext{
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*MEDIA*/

#videos {
  min-width: 450px;
  min-height: 200px;
  /* margin: 20%; */
  padding-top: 5%;
}

/* .btn {
  border: none;
  background-color: rgb(255, 0, 0);
  padding: 20px, 35px;
  display: inline-block;
  font-size: 24px;
  color: white;
  width: max-content;
  margin: 10%;
  position: relative;
  font-weight: bolder;
  left: 50%;
  box-shadow: 4px 4px #88888839;
} */

#youtube {
  border: none;
  background-color: rgb(255, 0, 0);
  padding: 20px, 35px;
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  width: max-content;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 4px 4px #88888839;
}

#description {
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}



      /* GALLERY PAGE */

      #gallery {
        width: 100%;
        transition: transform 1.5s;
      }

      #gallery:hover {
        -ms-transform: scale(1.015); /* IE 9 */
        -webkit-transform: scale(1.015); /* Safari 3-8 */
        transform: scale(1.015); 
      }

      .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
        /* max-width: 25%; */
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 800px) {
        .column {
          -ms-flex: 50%;
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 800px) {
        .column {
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
        }
      }

      #galleryTitle {
        padding-top: 15%;
        font-size:100px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        text-decoration: overline;
      }

      #galleryText {
        text-align: center;
        font-size: larger;
        padding-bottom: 10%;
      }

      .galleryBkgrnd {
        background-image: url('../src/images/buddhaLight2.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }